*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Chilanka', cursive;
}
.text-paragraph{
    width: 18px;
}

.text-green {
    color: #0cd977;
}

.ls-none{
    list-style: none;
}