.card-group > .card{
    width: 33,3% !important;
    padding: 20px;
    box-shadow: 8px 8px 20px hsla(0,0%,54%,.5);
    margin: 10px;
    & img{
        height: 200px;
        width: 200px;
        margin: 20px;
    }

}

